@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Space+Mono&display=swap');


body{
    margin: 0;
    padding:0;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}
a,.btn-2{
    color: #444;
    text-decoration: none;
}
h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Cormorant Garamond', serif;
}
/*************************/
/****** line break *******/
/*************************/
.br-300{
    max-width: 300px !important;
}
.br-400{
    max-width: 400px !important;
}
.br-500{
    max-width: 500px !important;
}
.br-600{
    max-width: 600px !important;
}
.br-700{
    max-width: 700px !important;
}
/**************************/
/****** line height ******/
/************************/
.line-height-1{
    line-height: 1.2;
}
.letter-space-16{
    letter-spacing: 16px;
}
.letter-space-9{
    letter-spacing: 9px;
}
.letter-space-6{
    letter-spacing: 6px;
}
/*************************/
/****** Typography *******/
/*************************/
.text-small{
    font-size: 18px !important;
}
.text-medium{
    font-size: 28px !important;
}
.text-large{
    font-size: 34px !important;
}
.text-xlarge{
    font-size: 40px !important;
}
.text-larger{
    font-size: 60px !important;
}
.text-start{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-end{
    text-align: right !important;
}
.text-lowercase{
    text-transform: lowercase !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-capitalize{
    text-transform: capitalize !important;
}
.text-justify{
    text-align: justify !important;
}
.text-bold{
    font-weight: bold !important;
}
/*************************/
/****** media query ******/
/*************************/
@media (max-width: 767px){
    body{
        font-size: 13px !important;
    }
    .text-small{
        font-size: 13px !important;
    }
    .text-medium{
        font-size: 18px !important;
    }
    .text-large{
        font-size: 20px !important;
    }
    .text-xlarge{
        font-size: 26px !important;
    }
    .text-larger{
        font-size: 36px !important;
    }
}
/*************************/
/********* colors ********/
/*************************/
.text-primary{
    color: #9d4d4a !important;
}
.text-secondry{
    color: #9d4d4a !important;
}
.text-white{
    color: #fcefef !important;
}
.text-black{
    color: black !important;
}
.text-gray{
    color: #797979 !important;
}
.text-orange{
    color: orange !important;
}

.bg-primary{
    background-color: rgba(24, 22, 22, 0.726)!important;
}
.bg-secondry{
    background-color: green!important;
}
.bg-white{
    background-color: #fffcfc !important;
}
.bg-black{
    background-color: #000 !important;
}
.bg-gray{
    background-color: #faf6f6 !important;
}
.bg-transparent{
    background-color: transparent !important;
}
/*************************/
/******** Margin *********/
/*************************/
.mt-0{
    margin-top: 0 !important;
}
.me-0{
    margin-right: 0 !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.ms-0{
    margin-left: 0 !important;
}
.mx-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mx-auto{
    margin: 0% auto !important;
}
.my-auto{
    margin: auto 0% !important;
}
.m-0{
    margin: 0% !important;
}
.mt-5{
    margin-top: 5px !important;
}
.me-5{
    margin-right: 5px !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.ms-5{
    margin-left: 5px !important;
}
.mx-5{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.my-5{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.m-5{
    margin: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.me-10{
    margin-right: 10px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.ms-10{
    margin-left: 10px !important;
}
.mx-10{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.my-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.m-10{
    margin: 10px !important;
}
.mt-15{
    margin-top: 15px !important;
}
.me-15{
    margin-right: 15px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.ms-15{
    margin-left: 15px !important;
}
.mx-15{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.my-15{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.m-15{
    margin: 15px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.me-20{
    margin-right: 20px !important;
}
.mb-20{
    margin-bottom: 20p !important;
}
.ms-20{
    margin-left: 20px !important;
}
.mx-20{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.my-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.m-20{
    margin: 20px !important;
}
.ms-auto{
    margin-left: auto !important;
}
.me-auto{
    margin-right: auto !important;
}
.mx-auto{
    margin: 0 auto !important;
}
/*************************/
/******** Padding *********/
/*************************/
.p-0{
    padding: 0 !important;
}
.pt-0{
    padding-top: 0 !important;
}
.pe-0{
    padding-right: 0 !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.ps-0{
    padding-left: 0 !important;
}
.px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.py-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-auto{
    padding: auto 0px !important;
}
.px-auto{
    padding: 0px auto !important;
}
.pt-5{
    padding-top: 5px !important;
}
.pe-5{
    padding-right: 5px !important;
}
.pb-5{
    padding-bottom: 5px !important;
}
.ps-5{
    padding-left: 5px !important;
}
.px-5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.py-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.pt-10{
    padding-top: 10px !important;
}
.pe-10{
    padding-right: 10px !important;
}
.pb-10{
    padding-bottom: 10px !important;
}
.ps-10{
    padding-left: 10px !important;
}
.px-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.py-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.p-15{
    padding: 15px !important;
}
.pt-15{
    padding-top: 15px !important;
}
.pe-15{
    padding-right: 15px !important;
}
.pb-15{
    padding-bottom: 15px !important;
}
.ps-15{
    padding-left: 15px !important;
}
.px-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.py-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pt-20{
    padding-top: 20px !important;
}
.pe-20{
    padding-right: 20% !important;
}
.pb-20{
    padding-bottom: 20px !important;
}
.ps-20{
    padding-left: 20px !important;
}
.px-20{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.py-20{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.py-40{
    padding-top: 20% !important;
}
.p-20{
    padding: 20px !important;
}
/*************************/
/********* images ********/
/*************************/
.img-fluid{
    max-width: 100%;
    height: auto;
}
/*************************/
/********* width *********/
/*************************/
.w-25{
    max-width: 25%;
}
.w-50{
    max-width: 50%;
}
.w-75{
    max-width: 75%;
}
.w-100{
    max-width: 100%;
}
/*************************/
/********* radius ********/
/*************************/
.rounded-circle{
    border-radius: 50% !important;
}
.rounded-pills{
    border-radius: 50px !important;
}
.border{
    border: 1px solid black !important;
    border-radius: 10px;
}
.border-orange{
    border: 1px solid orange !important;
    border-radius: 10px;
}
.img-thumbnail{
    border: 1px solid #ddd;
    padding: 2px;
}
/*************************/
/******** buttons ********/
/*************************/
a.btn, .btn{
    padding: 8px 35px;
    border: 1px solid transparent;
    border-radius: 30px;
}
a.btn-2, .btn-2{
    padding: 8px 30px;
    border: 1px solid white;
    border-radius: 30px;
}
a.btn-3, .btn-3{
    padding: 16px 56px;
    border: 2px solid #0A2640;
   font-weight: bold;
    border-radius: 55px;
}
a.btn:hover,.btn:hover,
.btn:hover{
    background-color: darkgreen !important;
}
.btn-2:hover{
    font-weight: bolder;
    color: black !important;
    border: 2px solid black;
    background-color: white !important;
}
/*************************/
/******** Flexbox ********/
/*************************/

/*************************/
/**** common classes *****/
/*************************/
/*************************/
/****** Typography *******/
/*************************/

/*************************/
/****** Typography *******/
/*************************/
