/*************************/
/****** header ***********/
/*************************/
header{
    height: 100svh;
    position: relative;
}
header .hero{
    height: calc(100svh - 100px);
}
header .hero .container .row img{
    border: 1px solid;
    border-radius: 30px;
}
header nav .collapse ul li a:hover{
    border-bottom: 2px solid orange;
}
/*************************/
/****** skill ***********/
/*************************/
section.skill .container {
    border: 1px solid;
    border-radius: 40px;
    padding-left: 30px;
}
section.skill .container .row .box{
    border: 1px solid;
    border-radius: inherit;
    box-shadow: .2px 1px 2px rgb(59, 56, 56);
    width: 80%;
    height: 65%;
    background-color: rgb(41, 38, 38);
    padding: 15px 20px 0 20px; 
}
section.skill .container .row .box:hover{
    border: 1px solid white;
}
/*************************/
/****** servies *********/
/*************************/
section.service .container {
    border: 1px solid;
    border-radius: 40px;
    padding-left: 30px;
}
section.service .container .row .progress-box{
    width: 90%;
    height: 12%;
    border: 1px solid;
    background-color: rgb(41, 38, 38);
}
section.service .container .row .box .progress{
    height: 15px;
    border-radius: 10px;

}
section.service .container .row .box .progress .progress-bar{
    background-color: orange;
    border-radius: 10px;
    animation: bars 2.5s 1;
}
@keyframes bars{
    from{
        width: 0;
    }
    to{
        width: 100;
    }
}
/*************************/
/****** footer ***********/
/*************************/
section.footer .container {
    border: 1px solid;
    border-radius: 35px;
    padding-left: 30px;
}
section.footer .container .row .gmail input{
    border: 1px solid;
    border-radius: 30px;
    width: 60%;
    padding: 6px 10px;
    background-color:  rgb(41, 38, 38);
    color: white;
}
header,section.footer,section.service,section.skill{
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
